
.days_pill_ld{
    background:green;
    color:yellow;
    border-radius: 10px;
    font-weight: bold;
}

.o_arrow_button_current{
    background-color: #71639e;
    color: #FFFFFF;
    opacity: 0.8 !important;
}



